$primary-background-color: #E5E0DC;
$primary-btn-color: #363A2B;
$secondary-btn-color: #4F6234;
$form-secondary-color: #000000;
$label-color: #E1D2C2;
$input-color: #656366;
$not-star: #BCBCBC;
$reset-color: #a00000;
$reset-color-hover: #660000;