@use "../abstracts/typography" as *;

// FONTS
$font-main: 'Karla';
$font-main-italic: "Karla-Italic";
$font-secondary: 'Playfair';
$font-secondary-italic: 'Playfair-Italic';
$font-tertiaire: 'Poppins';
$primary-font-size: 20px;
$font-color: #363A2B;
$title-color: #D9C7B3;

// HEADER
$head-padding: 0.5rem 3rem;
$head-gap: 3rem;
$head-gap-sm: 1.5rem;
$head-mobile-padding: 4rem;
$head-mobile-radius: 25px;

// BUTTON
$btn-padding: 0.5rem 1.8rem;
$btn-radius: 8px;
$btn-text-color: #FFFFFF;
$btn-text-size: 25px;

// HERO
$size-title: 100px;
$mobile-size-title: 50px;

// FORM
$form-padding: 1rem 3rem;
$marging: 1rem;
$form-text-size: 17px;
$input-padding: 1rem;
$input-border: 12px;

// CARD
$card-widht: 50%;
$card-font-size: 96px;
$card-padding: 11.5rem;      