@font-face {
  font-family: "Karla";
  src: url("../../assets/fonts/Karla/Karla-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Karla-Italic";
  src: url("../../assets/fonts/Playfair-Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Playfair";
  src: url("../../assets/fonts/Playfair-Display/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Playfair-Italic";
  src: url("../../assets/fonts/Playfair-Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #363A2B;
  background-color: #E5E0DC;
}

p {
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  font-family: "Karla";
  font-size: 20px;
  color: #363A2B;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem 3rem;
  background-color: #E5E0DC;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
header.hide {
  transform: translateY(-100%);
}
header .header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
header .header-left img {
  max-height: 80px;
}
header .header-left nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
header .header-left nav ul li {
  list-style: none;
}
header .header-left nav ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
header .header-left nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4F6234;
  transition: width 0.5s ease;
}
header .header-left nav ul li a:hover::after {
  width: 100%;
}
header .header-left .close-btn {
  display: none;
}
header .header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
header .header-right .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
header .header-right .social a {
  text-decoration: none;
}
header .header-right .social a i {
  font-size: 1.5rem;
}
header .header-right .user-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
header .header-right a {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
header .header-right a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4F6234;
  transition: width 0.5s ease;
}
header .header-right a:hover::after {
  width: 100%;
}

@media screen and (max-width: 1260px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 2rem;
    background: none;
    box-shadow: none;
  }
  header .header-left {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
  header .header-left img {
    display: none;
  }
  header .header-left nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 30vw;
    background-color: #E5E0DC;
    transition: left 0.3s ease;
    padding: 3rem 2rem;
    z-index: 9999;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  header .header-left nav ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 3rem;
  }
  header .header-left nav ul li {
    width: 100%;
    margin-bottom: 2rem;
  }
  header .header-left nav ul li a {
    font-size: 2rem;
    color: #363A2B;
  }
  header .header-left .close-btn {
    align-self: flex-start;
    font-size: 3rem;
    cursor: pointer;
    color: #363A2B;
  }
  header .header-left .burger {
    display: block;
    cursor: pointer;
  }
  header .header-left .burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #E5E0DC;
    margin: 5px 0;
    transition: 0.3s;
  }
  header .header-left.open nav {
    left: 0;
    border: solid 1px #363A2B;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    background-color: rgba(229, 224, 220, 0.7);
  }
  header .header-right {
    color: #E5E0DC;
  }
  header .header-right a:first-child {
    display: none;
  }
  header .header-right .user-action {
    display: none;
  }
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem 3rem;
  background-color: #fff;
  font-family: "Karla";
}
.footer-container .footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  flex: 1;
  max-width: 300px;
}
.footer-container .footer-column img {
  max-width: 200px;
}
.footer-container .footer-column .social i {
  font-size: 1.5rem;
}
.footer-container .footer-column p {
  font-size: 15px;
}
.footer-container .footer-column h4 {
  font-family: "Playfair";
  font-size: 20px;
}
.footer-container .footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-container .footer-column ul li {
  margin-bottom: 0.5rem;
}
.footer-container .footer-column a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
.footer-container .footer-column a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4F6234;
  transition: width 0.5s ease;
}
.footer-container .footer-column a:hover::after {
  width: 100%;
}
.footer-container .footer-column .social a {
  margin-right: 1rem;
  font-size: 1.2rem;
}
.footer-container .footer-column .secondary-btn {
  margin-top: 1rem;
  display: inline-block;
  background-color: #4e5b3a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-align: center;
}
.footer-container .footer-column .secondary-btn:hover {
  background-color: #3e4a2f;
}

@media screen and (max-width: 1260px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .footer-container .footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
  }
}
.hero-search {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #D9C7B3;
  border-radius: 18px;
  padding: 1rem 3rem;
  width: 50%;
  z-index: 2;
}
.hero-search .serch-box {
  position: relative;
}
.hero-search .serch-box h2 {
  font-family: "Playfair";
  margin-bottom: 1rem;
}
.hero-search .serch-box form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.hero-search .serch-box form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  font-family: "Karla";
  font-size: 17px;
  flex: 1;
  margin-bottom: 2rem;
}
.hero-search .serch-box form .form-group select, .hero-search .serch-box form .form-group input {
  background-color: #E1D2C2;
  border: none;
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
  color: #656366;
  font-family: "Poppins";
  transition: 0.3s ease;
}
.hero-search .serch-box form .form-group select:hover, .hero-search .serch-box form .form-group input:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.hero-search .serch-box form .form-group select:first-of-type {
  cursor: pointer;
}
.hero-search .serch-box .primary-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 80%);
}

@media screen and (max-width: 768px) {
  .hero-search {
    width: 75%;
  }
  .hero-search .serch-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .hero-search .serch-box form h2 {
    align-items: center;
  }
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 16rem;
}
.hero #hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, rgba(54, 58, 43, 0.7), rgba(54, 58, 43, 0.1));
  z-index: 1;
}
.hero .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  text-align: right;
  width: 75vw;
  z-index: 2;
}
.hero .title h1 {
  font-size: 100px;
  color: #D9C7B3;
}
.hero .title p {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .hero .title {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .hero .title h1 {
    font-size: 50px;
  }
}
.about {
  margin-top: 12rem;
}
.about .about-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.about .about-columns .about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 30%;
}
.about .about-columns .about-container h3 {
  font-size: 48px;
  font-family: "Playfair";
}
.about .about-columns .about-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  line-height: 1.6;
}
.about .about-columns .about-container .content .image {
  width: 100%;
}
.about .about-columns .about-container .content .image img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.about .about-columns .about-container .content p {
  font-family: "Karla";
}

.creator-quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 10rem;
  margin: 12rem 0;
}
.creator-quote .quote-texte {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.creator-quote .quote-texte h3 {
  font-size: 48px;
  font-family: "Playfair";
}
.creator-quote .quote-texte .quote-description {
  position: relative;
  font-family: "Karla";
}
.creator-quote .quote-texte .quote-description i {
  font-size: 3rem;
  margin-bottom: 1rem;
  display: block;
}
.creator-quote .quote-texte .quote-description p {
  margin-top: 1rem;
  line-height: 1.6;
}
.creator-quote .quote-texte .creator-name {
  font-size: 0.95rem;
  margin-top: 2rem;
  font-family: "Karla";
}
.creator-quote .quote-texte .creator-name strong {
  font-weight: 600;
}
.creator-quote .quote-texte .creator-name p:last-child {
  font-style: italic;
  text-decoration: underline;
}
.creator-quote .quote-image {
  width: 30%;
}
.creator-quote .quote-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1260px) {
  .about .about-columns {
    flex-direction: column;
    gap: 4rem;
    padding: 0 2rem;
  }
  .about .about-columns .about-container {
    width: 100%;
  }
  .about .about-columns .about-container h3 {
    font-size: 40px;
    text-align: left;
  }
  .about .about-columns .about-container .image {
    order: 2;
  }
  .about .about-columns .about-container .image img {
    height: 50vh;
  }
  .about .about-columns .about-container p {
    order: 3;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 1260px) {
  .creator-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
  }
  .creator-quote .quote-texte {
    width: 100%;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }
  .creator-quote .quote-texte h3 {
    font-size: 40px;
  }
  .creator-quote .quote-texte .quote-description i {
    font-size: 2.5rem;
  }
  .creator-quote .quote-texte .creator-name {
    font-size: 40px;
  }
  .creator-quote .quote-image {
    width: 100%;
    height: 50vh;
    order: 1;
  }
  .creator-quote .quote-image img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
  }
}
.primary-btn {
  background-color: #363A2B;
  border: none;
  padding: 0.5rem 1.8rem;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.5s ease;
  font-size: 25px;
}
.primary-btn:hover {
  background-color: #4F6234;
}

.secondary-btn {
  background-color: #4F6234;
  border: none;
  padding: 0.5rem 1.8rem;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.5s ease;
}
.secondary-btn:hover {
  background-color: #363A2B;
}

.hotel-card {
  width: 100vw;
  overflow: hidden;
  font-family: "Karla";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  margin-top: 7rem;
  padding-left: 18rem;
}
.hotel-card .hotel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  width: 50%;
}
.hotel-card .hotel-container .hotel-name {
  font-size: 96px;
  font-family: "Playfair";
}
.hotel-card .hotel-container .hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.hotel-card .hotel-container .hotel-rating .hotel-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.hotel-card .hotel-container .hotel-rating .not {
  color: #BCBCBC;
}
.hotel-card .carousel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  max-width: 50%;
  width: 50%;
  padding-bottom: 12px;
}
.hotel-card .carousel::-webkit-scrollbar {
  display: none;
}
.hotel-card .carousel .carousel-img {
  flex: 0 0 auto;
  width: 600px;
  height: 80vh;
  object-fit: cover;
  cursor: pointer;
}

.hotel-card-reverse {
  width: 100vw;
  font-family: "Karla";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  margin-top: 7rem;
  padding-right: 10rem;
}
.hotel-card-reverse .hotel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  width: 80%;
}
.hotel-card-reverse .hotel-container .hotel-name {
  font-size: 96px;
  font-family: "Playfair";
  white-space: nowrap;
}
.hotel-card-reverse .hotel-container .hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.hotel-card-reverse .hotel-container .hotel-rating .hotel-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.hotel-card-reverse .hotel-container .hotel-rating .not {
  color: #BCBCBC;
}
.hotel-card-reverse .hotel-container .hotel-description {
  width: 70%;
}
.hotel-card-reverse .carousel {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 12px;
}
.hotel-card-reverse .carousel::-webkit-scrollbar {
  display: none;
}
.hotel-card-reverse .carousel .carousel-img {
  flex: 0 0 auto;
  width: 600px;
  height: 80vh;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 1260px) {
  .hotel-card,
  .hotel-card-reverse {
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
    margin-top: 5rem;
  }
  .hotel-card .carousel,
  .hotel-card-reverse .carousel {
    width: 100%;
    max-width: 100%;
    padding-bottom: 1rem;
  }
  .hotel-card .carousel .carousel-img,
  .hotel-card-reverse .carousel .carousel-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  .hotel-card .hotel-container,
  .hotel-card-reverse .hotel-container {
    width: 100%;
  }
  .hotel-card .hotel-container .hotel-name,
  .hotel-card-reverse .hotel-container .hotel-name {
    font-size: 64px;
    text-align: left;
  }
  .hotel-card .hotel-container .hotel-rating,
  .hotel-card-reverse .hotel-container .hotel-rating {
    align-items: flex-start;
  }
  .hotel-card .hotel-container .hotel-description,
  .hotel-card-reverse .hotel-container .hotel-description {
    width: 100%;
  }
  .hotel-card .hotel-container .secondary-btn,
  .hotel-card-reverse .hotel-container .secondary-btn {
    width: 100%;
    text-align: center;
  }
  .hotel-card {
    flex-direction: column-reverse;
  }
}
.offer-container {
  padding: 4rem 18rem;
}
.offer-container h3 {
  font-size: 48px;
  font-family: "Playfair";
  font-weight: bold;
}
.offer-container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  margin-top: 4rem;
}
.offer-container .offer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  max-width: 500px;
  flex: 1 1 45%;
  height: 100%;
  align-self: stretch;
}
.offer-container .offer img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.offer-container .offer h4 {
  font-size: 30px;
  font-family: "Playfair";
  font-weight: bold;
}
.offer-container .offer p {
  font-size: 20px;
  font-family: "Karla";
}
.offer-container .offer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.offer-container .offer > div div {
  flex: 1;
}
.offer-container .offer > div div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.offer-container .offer > div div ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
