@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/typography" as *;
@use "../abstracts/colors" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

html {
	overflow-x: hidden;
    scroll-behavior: smooth;
}


body {
    color: $primary-btn-color;
    background-color: $primary-background-color;
}

p {
    font-size: $primary-font-size;
}

h3 {
    font-size: $h3-size;
    font-family: $font-secondary;
    font-weight: bold
}